
# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules
./node_modules
/node_modules
my-app/node_modules
client/node_modules
server/node_modules
server/handlers../

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

